@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url("https://fonts.googleapis.com/css?family=Bai Jamjuree");
@import url(https://fonts.googleapis.com/css?family=Nunito:400,700);
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

/*:root {
  background: -webkit-linear-gradient(top, #222838 0%, #131621 100%);
    height: 100vh;
}*/

.container {
    width: 334px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

body {
    background: #333;
    overflow-y: hidden;
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
}


/*h1,
h2 {
    color: white;
    font-family: "Bai Jamjuree";
    font-weight: normal;
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
    animation: colorRotate 1s linear 0s infinite;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}*/

.content h1{
    font-family: 'PT Sans', sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;
    margin-top: 80px;
    animation: colorRotate 1s linear 0s infinite;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: black 2px 2px 10px;
}

.content img{
        max-height: 300px;
}

.cat{         
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content button{
    margin-top: 10px;
    background-color:rgba(0, 0, 0, 0.48);
    color:white;
    cursor: pointer;
    height: 40px;
    border: none;
    transition: all 0.5s;
}

.content button:hover{
    transform: scale(1.05);
    transition: all 0.5s;

}
/*
.cat{
    background-color:rgba(0, 0, 0, 0.48);
    border: solid rgba(0, 0, 0, 0.48);
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 360px;
    transition: all 1s;
    align-items: center;
}*/

@keyframes colorRotate {
    from {
        color: #fda402;
    }
    50% {
        color: #f6cf41;
    }
    100% {
        color: #fda402;
    }
}


footer {
    display: inline-block;
    margin-top: 600px;
    }

h2 {
    font-size: 14px;
    margin-bottom: 30px;
    color: #24E2B8;
}


.one,
.two,
.three,
.four,
.five,
.six {
    border: none;
    border-radius: 4px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
    overflow: hidden;
    padding: 20px 50px 20px 70px;
    margin-bottom: 20px;
    font-size: 20px;
    position: relative;
    color: white;
    outline: none;
    cursor: pointer;
    width: 100%;
    -webkit-transition: background-position .7s, box-shadow .4s;
    transition: background-position .7s, box-shadow .4s;
    background-size: 110%;
    font-family: 'Oswald', sans-serif;
}

.one:hover,
.two:hover,
.three:hover,
.four:hover,
.five:hover,
.six:hover {
    background-position: 0% 30%;
}

.one:hover:after,
.two:hover:after,
.three:hover:after,
.four:hover:after,
.five:hover:after,
.six:hover:after {
    right: -40px;
    -webkit-transition: right .4s, -webkit-transform 30s .2s linear;
    transition: right .4s, -webkit-transform 30s .2s linear;
    transition: right .4s, transform 30s .2s linear;
    transition: right .4s, transform 30s .2s linear, -webkit-transform 30s .2s linear;
}

.one:before,
.two:before,
.three:before,
.four:before,
.five:before,
.six:before,
.one:after,
.two:after,
.three:after,
.four:after,
.five:after,
.six:after {
    font-family: FontAwesome;
    display: block;
    position: absolute;
}

.one:before,
.two:before,
.three:before,
.four:before,
.five:before,
.six:before {
    -webkit-transition: all 1s;
    transition: all 1s;
    font-size: 30px;
    left: 25px;
    top: 19px;
}

.one:after,
.two:after,
.three:after,
.four:after,
.five:after,
.six:after {
    -webkit-transition: right .4s, -webkit-transform .2s;
    transition: right .4s, -webkit-transform .2s;
    transition: right .4s, transform .2s;
    transition: right .4s, transform .2s, -webkit-transform .2s;
    font-size: 100px;
    opacity: .3;
    right: -120px;
    top: -17px;
}

.one {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #782CDA;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#782CDA), to(rgba(126, 94, 162, 0.51))), url("https://i.imgur.com/pVoyBNh.png");
    background-image: linear-gradient(to bottom, #782CDA, rgba(126, 94, 162, 0.71)), url("https://i.imgur.com/pVoyBNh.png");
}

.one:hover {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #782CDA;
}

.one:hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.one:hover:before {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.one:after,
.one:before {
    display: inline-block;
    width: 90px;
    height: 90px;
    content: "";
    padding: 0em 0em 8em;
    background: url("https://s4.anilist.co/file/anilistcdn/user/avatar/large/b670650-1MlOPmjpLNRO.png") no-repeat 0 0;
    background-size: 100%;
}

.one b {
    color: #DDA6FF;
    font-weight: 700;
}

.two {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #E48A3C;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E48A3C), to(rgba(222, 135, 61, 0.24))), url("https://i.imgur.com/Kgsc48h.png");
    background-image: linear-gradient(to bottom, #E48A3C, rgba(222, 135, 61, 0.51)), url("https://i.imgur.com/Kgsc48h.png");
}

.two:hover {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #E48A3C;
}

.two:hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.two:hover:before {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.two:after,
.two:before {
    display: inline-block;
    width: 90px;
    height: 90px;
    content: "";
    padding: 0em 0em 8em;
    background: url("https://i.imgur.com/RvmQIvS.png") no-repeat 0 0;
    background-size: 100%;
}

.two b {
    color: #FFD9B4;
    font-weight: 700;
}

.three {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #36C176;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#36C176), to(rgba(86, 202, 139, 0.18))), url("https://i.imgur.com/IoPLJd0.png");
    background-image: linear-gradient(to bottom, #36C176, rgba(86, 202, 139, 0.51)), url("https://i.imgur.com/IoPLJd0.png");
}

.three:hover {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #36C176;
}

.three:hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.three:hover:before {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.three:after,
.three:before {
    display: inline-block;
    width: 90px;
    height: 90px;
    content: "";
    padding: 0em 0em 8em;
    background: url("https://i.imgur.com/0flzmWI.png") no-repeat 0 0;
    background-size: 100%;
}

.three b {
    color: #63FFAC;
    font-weight: 700;
}

.four {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #33E7EA;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#33E7EA), to(rgba(161, 245, 245, 0.24))), url("https://i.imgur.com/wvwdICK.png");
    background-image: linear-gradient(to bottom, #33E7EA, rgba(161, 245, 245, 0.24)), url("https://i.imgur.com/wvwdICK.png");
}

.four:hover {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #33E7EA;
}

.four:hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.four:hover:before {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.four:after,
.four:before {
    display: inline-block;
    width: 90px;
    height: 90px;
    content: "";
    padding: 0em 0em 8em;
    background: url("https://i.imgur.com/ASmBnYz.png") no-repeat 0 0;
    background-size: 100%;
}

.four b {
    color: #1CF4FF;
    font-weight: 700;
}

.five {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #DE3964;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#DE3964), to(rgba(154, 40, 87, 0.24))), url("https://i.imgur.com/Z1UICmQ.png");
    background-image: linear-gradient(to bottom, #DE3964, rgba(154, 40, 87, 0.24)), url("https://i.imgur.com/Z1UICmQ.png");
}

.five:hover {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #DE3964;
}

.five:hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.five:hover:before {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.five:after,
.five:before {
    display: inline-block;
    width: 90px;
    height: 90px;
    content: "";
    padding: 0em 0em 8em;
    background: url("https://i.imgur.com/7p481hO.png") no-repeat 0 0;
    background-size: 100%;
}

.five b {
    color: #F764FF;
    font-weight: 700;
}

.six {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #707070;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#707070), to( rgb(56, 56, 56, 0.24))), url("https://i.imgur.com/Z1UICmQ.png");
    background-image: linear-gradient(to bottom, #707070, rgb(56, 56, 56. 0.24)), url("https://i.imgur.com/Z1UICmQ.png");
}

.six:hover {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #A9A9A9;
}

.six:hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.six:hover:before {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.six:after,
.six:before {
    display: inline-block;
    width: 90px;
    height: 90px;
    content: "";
    padding: 0em 0em 8em;
    background: url("https://i.imgur.com/RvmQIvS.png") no-repeat 0 0;
    background-size: 100%;
}

.six b {
    color: #A9A9A9;
    font-weight: 700;
}

.active {
    transform: scale(1.25);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;                                
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

li {
    float: left;
    transition: transform 0.1s linear;
}

li:hover{
    transform: scale(1.25);
    transition: transform 0.2s linear;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   font-family: "Bai Jamjuree";
   text-decoration: none;
}